<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>A Little About Lady Zee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="../../../assets/img/lady-2.jpeg" alt="Lady Zee Image One">
      <div class="mt-3 text-center">
        <p>Zainab Abdulwaheed was born on <b class="text-success">5th September</b>, in Kaduna,  Kaduna State. She completed her primary and secondary school in <b class="text-success">Victory Academy Kaduna</b>. She was later admitted into <b class="text-success">Bayero University Kano</b>  in the year 2017. She's currently a student from the department of Physical and Health Education, Faculty of Education Bayero University Kano. She's Popularly known as <b class="text-success">Lady Zee</b> . Her interest in politics was inspired by her Love for positive change and serving humanity through diligent service to the people of Bayero University Kano and the world at large. She holds a vital post of class representative of her level in the department and several other post at various levels of school association</p>
      </div>
      <img src="../../../assets/img/lady-1.jpeg" alt="Lady Zee Image Two">
      <div class="mt-3 text-center">
        <p>Lady Zee says "<i class="text-secondary font-weight-bold">I have been impressed with the urgency of doing, knowing is not enough, we must apply. being willing is not enough, we must act!!</i>"</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="d-flex footer-title">
      <span class="small-text-sponsor">Sponsored By: <span class="text-success">Lady Zee</span></span>
      <span class="small-text-developer">Developed By: <span class="text-success">Bello Abdulmateen</span></span>
    </ion-title>
  </ion-toolbar>
</ion-footer>
