<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lady Zee GSP Quiz App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <ion-card style="height: 100%;"  class="ion-padding">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Welcome to the Lady Zee Sponsored <span class="text-success">GSP Quiz App</span> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides mode="md" [options]="slideOptions">
        <ion-slide *ngFor="let image of imageArray">
          <ion-card>
            <img src="{{image.imgUrl}}" alt="Slider Image">
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
    <div class="ion-text-center text-danger">
      <p>
        Welcome to the BUK GSP Quiz Application aimed at helping you test your ability and readiness for any of the GSP Courses. Hit the button below to get started. 
      </p>
      <ion-button class="ion-btn-success" color="primary" expand="block" (click)="gotToCourseList()">
        Test Your GSP Ability
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="d-flex footer-title">
      <span class="small-text-sponsor">Sponsored By: <span class="text-success">Lady Zee</span></span>
      <span class="small-text-developer">Developed By: <span class="text-success">Binbello</span></span>
    </ion-title>
  </ion-toolbar>
</ion-footer>
